name: release
on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
permissions:
  contents: write
  packages: write
jobs:
  release:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: ./.github/actions/release
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
