name: test
on:
  push:
    branches:
    - "**"
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macOS-latest
        - windows-latest
    steps:
    - name: setup go
      uses: actions/setup-go@v3
      with:
        go-version: 1.x
    - name: Set git to use LF
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf
      if: "matrix.os == 'windows-latest'"
    - name: checkout
      uses: actions/checkout@v3
    - name: test
      run: go test -coverprofile coverage.out -covermode atomic ./...
    - name: Send coverage
      uses: codecov/codecov-action@v1
